//page main
.inner-page-container {
  display: flex;
}
.inner-page-main {
  width: 85%;
  padding: 30px;
}

//navs
.secondary-nav {
  display: flex;
  padding: 25px 20px 0 20px;
  padding-bottom: 0;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.2),0 1px 5px 0 rgba(0,0,0,0.12);
}

.secondary-nav__list-item {
  list-style-type: none;
  padding: 10px;
  flex: 1 auto;
  text-align: center;
}

.vertical-nav {
  width: 15%;
}

//images
.full-page-img {
  height: 100%; 
  width: 100%;
}

//Buttons
button {
    border: none;
}

//buttons
.btn {
  background: $dark-glacier;
  color: $font-secondary;  
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.2),0 1px 5px 0 rgba(0,0,0,0.12);
  border-radius: 2px;
  display: inline-block;
  padding: 7px 8px;  
  overflow: hidden;
  will-change: box-shadow, transform;
  -webkit-transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1),background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1),color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1),background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1),color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
  cursor: pointer;
  text-decoration: none;
  text-align: center;  
  vertical-align: middle;
  &:hover {
    background: $glacier;
  }
}

.btn--small {
  padding-top: 4px;
  padding-bottom: 4px;
}

.btn--full-width {
  width: 100%;
}

//sort
.sort-container {
    padding: 20px;
}

.sort-container__searchbar {
  width: 20%;
  border-bottom: 1px solid $font-primary;
  overflow: hidden;
  padding-bottom: 5px;
}

.searchbar__icon {
  width: 7%;
  margin-right: 3%;
  float: left;
}

.searchbar__input {
  width: 88%;
  float: left;
  border: none;
}

.sort-container__list {  
    color: $font-primary;
    padding: 20px 0 10px 0;

  p {
    display: inline-block;
    margin-right: 1 0px;
  }

  a {
    color: $font-primary;

    &:hover {
      color: $primary;
    }
  }
}


.sort-container__options {
  display: inline-block;
}

.sort-container__list-item {
  position: relative;
  display: inline-block;
  padding: 0 13px;

  &:before {
    content: "";
    display: block;
    height: 15px;
    border-right: 1px solid #707070;
    position: absolute;
    left: -1px;
    top: 6px;
  }   

  &:first-child:before {        
      display: none;
  }
}


//Cards
.card {
    display: block;
    position: relative;
    background: #FFF;
    @include card-box-shadow;
}
