.game-round-block {
    background-color: #ae7722;
    margin-left: 231px;
    padding: 4px;
    margin-top: 3px;
    height: 35px;
    width: 88px;
    border-radius: 29%;  
    -moz-box-shadow:  inset 4px 6px 7px #744d13;
    -webkit-box-shadow: inset 4px 6px 7px #744d13;
    box-shadow: inset 4px 6px 7px #744d13;
}