.game-round-block {
    background-color: #ae7722;
    padding: 4px;
     height: 25px;
     width: 70px;
    border-radius: 29%;  
    -moz-box-shadow:  inset 4px 6px 7px #744d13;
    -webkit-box-shadow: inset 4px 6px 7px #744d13;
    box-shadow: inset 4px 6px 7px #744d13;
    float:left;
}

