.login {
  height: 100%;
  
  //background-styles
  .login-header {
    background-color: #E4ECEE;
  }

  .login-header__title {
    text-align: center;
    padding: 65px 0 25px 0;
  }

  .login-header__logo {
    width: 10.5%;
    position: absolute;
    top: 20px;
    right: 30px;
  }

  .full-page-img {
    background: url('https://lifespeak.s3.amazonaws.com/EMS/images/login-full.jpg') no-repeat center center;
    background-size: cover;
    padding-top: 100px;
    height: calc(100% - 154px);
  }

  //login form styles
  .login-form {
    width: 380px;
    padding: 20px 20px 35px 20px;
    margin: 0 auto;
  }

  .login-form__title {
    text-align: center;
    margin-bottom: 20px;
  }

  .login-form--hidden {
    display: none;
  }

  .login-form__input-container {
    margin-bottom: 15px;
    border-bottom: 2px solid #D9D9D9;
    padding-bottom: 15px;
  }

  .login-form__icon {
    display: block;
    float: left;
    width: 8%;
    margin-right: 4%;
  }

  .login-form__input {
    border: none;
    width: 88%;
  }

  .login-form--remember {
    border: none;
    padding: 0;
    position: relative;
  }

  .login-form__label--remember {
    display: inline-block;
    margin-left: 48px;
  }

  .login-form__input--remember {
    width: auto;
    position: absolute;
    left: 15px;
    top: 5px;
  }

  .login-form__btn {
    width: 100%;
  }

  // responsive styles
  // 4 cards wide
  @media screen and (max-width: 1316px) {
    .login-header__logo {
      width: 12%;
    }

    .full-page-img {
      height: calc(100% - 131px);
    }
  }

  // 3 cards wide
  @media screen and (max-width: 1056px) {
    .full-page-img {
      height: calc(100% - 126px);
    }
  }

  // 2 cards wide
  @media screen and (max-width: 800px) {
    .login-header__logo {
      width: 14%;
    }

    .full-page-img {
      height: calc(100% - 122px);
    }
  }

  // 1 card wide
  @media screen and (max-width: 535px) {
    .login-header__logo {
      width: 25%;
      top: 10px;
      right: 10px;
    }

    .full-page-img {
      height: calc(100% - 119px);
    }

    .login-form {
      width: 85%;
    }
  }

  //smallest possible screen width
  @media screen and (max-width: 320px) {
    .login-header__logo {
      width: 35%;
    }
    
    .full-page-img {
      height: calc(100% - 144px);
    }
  }
}