.player{ 

    float:right;
    height:140px;
    width:260px; 
    background-image: url(../Images/player_bg_sprite.png);
    background-repeat:no-repeat; 
    background-position-x:53px;
    background-position-y:-14px;
}



.player-hand-container{

    position:relative;
    top:33px;
    left:36px;

} 


.left-hand {

             background-image:url(../Images/left-hand-sprite.png) !important;
             width:39px !important;
             height:50px;
               -webkit-box-shadow: none !important;
             -moz-box-shadow: none !important;
             box-shadow: none !important;
             position:relative;
             z-index:9000;
             float:left;
}



.right-hand{

      float:right;
      position:relative;
      bottom:8px;
      right:58px;

}

.right-hand-selected{

      @include  keyframe-call(hand-move);
}