// typography
html, body {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif
}

// set root element font size (which all rem's are based from)
html {  
  font-size: 62.5%;  
}

.callout-beige{
  font-size:1.6rem;
  color:#8b5400;
}

.callout-white {
    font-size: 1.2rem;
    color: #ffffff;
    text-align: center;
    margin-left: 45%;
}
