<div class="current-round">

    <h3> Current Round: {{_jrummy.CurrentRound}}</h3>
</div>

<div *ngFor="#card of _jrummy.ComputerHand.Cards">
    {{card.Name}} -- {{card.Suit}}



</div>
    <input type="button" (click)="getCard()" value="Get Card" />

    <h3>Pile</h3>
<div style="display:inline;cursor:pointer;text-decoration:underline" (click)="unitTestCard('hearts','jak')">sd</div>

{{ _jrummy.Pile.Cards.length}}
    <ul *ngFor="#card of _jrummy.Pile.Cards" style="display:inline">

        <li style="display:inline;cursor:pointer;text-decoration:underline" (click)="pickupPlayerCard(card.Suit,card.Name,false)">

            {{card.toString()}}

        </li>


    </ul>


<h3>Discard</h3>

{{ _jrummy.DiscardPile.Cards.length}}
<ul *ngFor="#card of _jrummy.DiscardPile.Cards;#i=index;" style="display:inline">

    <li style="display:inline">

        <div *ngIf="i!=0">
            {{card.toString()}}
        </div>
        <div *ngIf="i==0">
            <a href="javascript:void(0);" (click)="pickupPlayerCard(card.Suit,card.Name,true)" >{{card.toString()}}</a>
        </div>
    </li>


</ul>

/*

<div *ngIf="CurrentGame.CurrentStatus == GameStatus.ComputerCall">

    <h2>I CALL</h2>
</div>
*
<div *ngFor="#card of _jrummy.PlayerHand.Cards">
     <a href="javascript:void(0);" (click)="discardPlayerCard(card.Suit,card.Name,true)" > {{card.Name}} -- {{card.Suit}} </a>



</div>