<div class="modal-window">
    <div class="modal-container game-completed">
            <h6>{{ headerText }}</h6>
        <!--    <div style="font-size:8px">{{_jrummy.PlayerCardEval}}</div>-->

        <div class="game-completed-header">
            <ul>
                <li><a href="javascript:void(0);" [hidden]="showCards" (click)="toggleCardDisplay(true)">View Hand</a></li>
                <li><a href="javascript:void(0);" [hidden]="!showCards" (click)="toggleCardDisplay(false)">View Score</a></li>
                <li><a href="javascript:void(0);" (click)="completeGame('play')">Play Again</a></li>
                <li><a href="javascript:void(0);" (click)="completeGame('quit')">Quit</a></li>
            </ul>
        </div>
        <div id="game-completed-card-display" [hidden]="showCards"></div>
        <div id="game-completed-card-display" [hidden]="showCards">
            <table>
                <thead>
                    <tr>
                        <td>
                        </td>
                        <td>

                            You
                        </td>
                        <td>
                            Daryl
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>

                            Cards in sets
                        </td>
                        <td>
                            {{_jrummy.PlayerHand|FilterHand:'set'}}
                        </td>
                        <td>
                            {{_jrummy.ComputerHand|FilterHand:'set'}}
                        </td>
                    </tr>
                    <tr>
                        <td>

                            Cards in runs
                        </td>
                        <td>
                            {{_jrummy.PlayerHand|FilterHand:'run'}}
                        </td>
                        <td>
                            {{_jrummy.ComputerHand|FilterHand:'run'}}
                        </td>
                    </tr>
                    <tr>
                        <td>

                            Deadwood Cards
                        </td>
                        <td>
                            {{_jrummy.PlayerHand|FilterHand:'none'}}
                        </td>
                        <td>
                            {{_jrummy.ComputerHand|FilterHand:'none'}}
                        </td>
                    </tr>
                    <tr>
                        <td>

                            Deadwood Points (combined face value of deadwood)
                        </td>
                        <td>
                            {{_jrummy.PlayerHand.getCurrentPoints() }}
                        </td>
                        <td>
                            {{_jrummy.ComputerHand.getCurrentPoints()}}
                        </td>
                    </tr>
                    <tr *ngIf="_jrummy.CurrentGame.UndercutBonus!=25">
                        <td>

                            Deadwood Score (difference between Winner and Loser Deadwood Points)
                        </td>
                        <td>
                            {{ _jrummy.CurrentGame.Caller=="Player" ?_jrummy.ComputerHand.getCurrentPoints() - _jrummy.PlayerHand.getCurrentPoints():0 }}
                        </td>
                        <td>
                            {{ _jrummy.CurrentGame.Caller=="Computer" ? _jrummy.PlayerHand.getCurrentPoints() - _jrummy.ComputerHand.getCurrentPoints():0 }}
                        </td>
                    </tr>
                      <tr *ngIf="_jrummy.CurrentGame.UndercutBonus===25">
                        <td>

                            Deadwood Score (difference between Winner and Loser Deadwood Points)
                        </td>
                        <td>
                            {{ _jrummy.CurrentGame.Caller=="Player" ?_jrummy.PlayerHand.getCurrentPoints() - _jrummy.ComputerHand.getCurrentPoints():0 }}
                        </td>
                        <td>
                            {{ _jrummy.CurrentGame.Caller=="Computer" ? _jrummy.ComputerHand.getCurrentPoints() - _jrummy.PlayerHand.getCurrentPoints():0 }}
                        </td>
                    </tr>
                    <tr>
                        <td>

                            Gin Bonus
                        </td>
                        <td>
                            {{_jrummy.CurrentGame.Caller=="Player" && _jrummy.CurrentGame.GinBonus==25?25:0 }}
                        </td>
                        <td>
                            {{_jrummy.CurrentGame.Caller=="Computer " && _jrummy.CurrentGame.GinBonus==25?25:0 }}
                        </td>
                    </tr>
                    <tr>
                        <td>

                            Undercut Bonus
                        </td>
                        <td>
                            {{_jrummy.CurrentGame.Caller=="Computer" && _jrummy.CurrentGame.UndercutBonus==25?25:0 }}
                        </td>
                        <td>
                            {{_jrummy.CurrentGame.Caller=="Player" && _jrummy.CurrentGame.UndercutBonus==25?25:0 }}
                        </td>
                    </tr>
                    <tr>
                        <td>

                            Final Score
                        </td>
                        <td>
                            {{_jrummy.CurrentGame.PlayerScore }}
                        </td>
                        <td>
                            {{_jrummy.CurrentGame.ComputerScore}}
                        </td>
                    </tr>






                </tbody>
            </table>

        </div>
        <div id="game-completed-card-display" [hidden]="!showCards">
            <h5>{{ _jrummyText.DARYL_CARDS}}</h5>
            <div class="hand">
                <div *ngFor="let card of  _jrummy.ComputerHand|SortHand;let i = index ">
                    <jrummy-playingcard [suit]="card.Suit" [face]="card.FaceValueString" [squeezed]="true"></jrummy-playingcard>
                </div>

            </div>


            <h5>{{ _jrummyText.PLAYER_CARDS}}</h5>

            <div class="hand">
                <div *ngFor="let card of _jrummy.PlayerHand.Cards;let i = index ">
                    <jrummy-playingcard [suit]="card.Suit" [face]="card.FaceValueString" [squeezed]="true"></jrummy-playingcard>
                </div>

            </div>

        </div>

    </div>
</div>