<div class="modal-window">
    <div class="modal-container game-completed">
       

        <div class="game-completed-header"><span>{{ headerText }}</span>
            <ul>
                <li><a href="javascript:void(0);" (click)="completeGame('play')">Play Again</a></li>
                <li><a href="javascript:void(0);" (click)="completeGame('quit')">Quit</a></li>
            </ul>
        </div>

        <h5>{{ _jrummyText.DARYL_CARDS}} -  {{_jrummy.ComputerHand.getCurrentPoints()}} Points</h5>
        <div class="hand">
            <div *ngFor="let card of  _jrummy.ComputerHand|SortHand;let i = index ">
                <jrummy-playingcard [suit]="card.Suit"  [face]="card.FaceValueString" [squeezed]="true"></jrummy-playingcard>
            </div>

        </div>


         <h5>{{ _jrummyText.PLAYER_CARDS}} - {{_jrummy.PlayerHand.getCurrentPoints()}}  Points</h5>

        <div class="hand">
            <div *ngFor="let card of _jrummy.PlayerHand|SortHand;let i = index ">
                   <jrummy-playingcard [suit]="card.Suit"  [face]="card.FaceValueString"  [squeezed]="true"></jrummy-playingcard>
            </div>

        </div>

    </div>
</div>